<div id="contact" class="uk-section uk-section-large uk-background-muted tm-contact uk-text-center">
    <div class="uk-container uk-container-small">
        <h2 class="uk-margin-small-bottom">Book Now</h2>
        <p class="uk-text-lead uk-text-uppercase">Please feel free to contact me via phone or email <br>with any questions you have.</p>

        <div class="uk-grid-small uk-flex-center uk-margin-large-top" uk-grid>
            <div class="uk-width-2-3@m">

                <div class="vcard">
                  <p class="tm-tel">Tel: <a class="tel" href="tel:216-507-3250">216-507-3250</a></p>
                  <p class="tm-email">Email: <a class="email" href="mailto:info@sabeen.co">info@sabeen.co</a></p>
                  <!--
                  <div class="adr">
                    <span class="street-address">3998 E 71st Street</span><br>
                    <span class="locality">Cleveland</span><br>
                    <span class="region">OH</span>,
                    <span class="postal-code">44105</span>
                    <span class="country-name">USA</span>
                  </div>
                -->
                </div>
                <h3 class="uk-margin-xlarge-top">Contact Form</h3>
                <form class="uk-form-stacked uk-margin-small-top" method="POST" action="http://formspree.io/chromjak@gmail.com">
                    <div class="uk-margin-medium-bottom">
                        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-large tm-form-xlarge tm-border-rounded" name="name" type="text" required>
                        </div>
                    </div>
                    <div class="uk-margin-medium-bottom">
                        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Email</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-large tm-form-xlarge tm-border-rounded" name="_replyto" type="email">
                        </div>
                    </div>
                    <div class="uk-margin-medium-bottom">
                        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Phone</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-large tm-form-xlarge tm-border-rounded" name="phone" type="text">
                        </div>
                    </div>
                    <div class="uk-margin-medium-bottom">
                        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Message</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-textarea uk-form-large tm-form-xlarge" name="message" minlength="20"></textarea>
                        </div>
                    </div>
                    <div>
                        <input name="_subject" type="hidden" value="Dream Weddings By Shahida: Message">
                        <input type="text" name="_gotcha" style="display:none" />
                        <input class="uk-button uk-button-primary uk-button-large uk-width-1-1 tm-border-rounded" type="submit" name="send" value="Send">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
