<div id="contact" class="uk-section uk-section-large uk-background-muted tm-contact">
    <div class="uk-container uk-container-small">
        <h2 class="uk-margin-small-bottom uk-text-center">Contact Us</h2>
        <p class="uk-text-lead uk-text-uppercase uk-text-center">Please feel free to contact us via phone or email <br>with any questions you have.</p>

        <div class="uk-grid-small uk-flex-center uk-margin-large-top" uk-grid>
            <div class="uk-width-2-3@m">
            <div class="uk-card uk-card-default uk-card-body">

                <div class="vcard uk-text-center">
                  <p class="tm-tel">Tel: <a class="tel" href="tel:216-507-3250">216-507-3250</a></p>
                  <p class="tm-email">Email: <a class="email" href="mailto:info@weddingsbyshahida.com">info@weddingsbyshahida.com</a></p>
                  <div class="adr">
                    <span class="street-address">6294 South Applecross Rd</span><br>
                    <span class="locality">Highland Heights</span><br>
                    <span class="region">OH</span>,
                    <span class="postal-code">44143</span>
                    <span class="country-name">USA</span>
                  </div>
                </div>

                <h3 class="uk-card-title uk-text-center uk-margin-large-top">Contact Form</h3>
                <form class="uk-form-stacked uk-margin-small-top" method="POST" action="http://formspree.io/chromjak@gmail.com">
                    <div class="uk-margin-medium-bottom">
                        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-large tm-form-xlarge" name="name" type="text" placeholder="Enter your name" required>
                        </div>
                    </div>
                    <div class="uk-margin-medium-bottom">
                        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Email</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-large tm-form-xlarge" name="_replyto" type="email" placeholder="Enter your email">
                        </div>
                    </div>
                    <div class="uk-margin-medium-bottom">
                        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Phone</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-large tm-form-xlarge" name="phone" type="text" placeholder="Enter your phone number">
                        </div>
                    </div>
                    <div class="uk-margin-medium-bottom">
                        <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Message</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-textarea uk-form-large tm-form-xlarge" name="message" placeholder="Enter your message" minlength="20"></textarea>
                        </div>
                    </div>
                    <div class="uk-text-center-">
                        <input name="_subject" type="hidden" value="Dream Weddings By Shahida: Message">
                        <input type="text" name="_gotcha" style="display:none" />
                        <input class="uk-button uk-button-danger uk-button-large uk-width-1-1" type="submit" name="send" value="Send">
                    </div>
                </form>

            </div>
            </div>
        </div>
    </div>
</div>
