<footer class="uk-section uk-section-secondary uk-light uk-text-center">
    <div class="uk-container">

        <div class="uk-margin-medium">
            <div class="uk-flex uk-flex-center uk-link-muted tm-letter-spacing-l tm-social-links">
                {% if site.facebook_username %}
                <div class="uk-margin-left uk-margin-right">
                    <h5><a target="_blank" href="https://www.facebook.com/{{ site.facebook_username | escape }}">Facebook</a></h5>
                </div>
                {% endif %}
                {% if site.instagram_username %}
                <div class="uk-margin-left uk-margin-right">
                    <h5><a target="_blank" href="https://www.instagram.com/{{ site.instagram_username | escape }}/">Instagram</a></h5>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="uk-margin-medium tm-text-xsmall uk-text-meta uk-text-muted uk-link-muted">{{ site.footer_text }}</div>

    </div>
</footer>
