<header class="uk-section-secondary" uk-sticky="animation: uk-animation-slide-top; top: 300" role="banner">
    <nav class="uk-navbar-container uk-navbar-transparent">
        <div class="uk-container">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="{{ "/" | relative_url }}">SHAHIDA</a>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-visible@m">
                        {% for link in site.data.navigation %}
                            {% if link.url contains 'http' %}
                                {% assign domain = '' %}
                            {% else %}
                                {% assign domain = relative_url %}
                            {% endif %}
                            {% if link.url == page.url %}
                                {% assign current = ' class="uk-active"' %}
                            {% else %}
                                {% assign current = null %}
                            {% endif %}
                            {% if link.title %}
                                <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}uk-scroll="duration: 500">{{ link.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="uk-navbar-item uk-visible@m"><a href="{{ "/rentals/" | relative_url }}" class="uk-button uk-button-default tm-button-default">Rentals</a></div>
                    <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" uk-navbar-toggle-icon uk-toggle></a>
                </div>
            </div>
        </div>
    </nav>
</header>
