---
# Only the main Sass file needs front matter (the dashes are enough)
---

// 1. Your custom variables and variable overwrites.
$global-link-color: #c1962d;
$global-primary-background: #c6a45a;
$global-secondary-background: #020202;
$global-link-hover-color: #020202;
// $global-success-background: #32d296 !default;
// $global-warning-background: #faa05a !default;
// $global-danger-background: #f0506e !default;
//$base-code-font-size: 16px;
//$inverse-global-color:             red;
$inverse-global-muted-color:          rgba(255, 255, 255, 0.9);
//$inverse-global-inverse-color:  red;
//$inverse-link-muted-color: $inverse-global-muted-color !default;
$inverse-link-muted-hover-color: $global-primary-background;
//$inverse-link-text-hover-color: $inverse-global-muted-color !default;
$base-link-hover-text-decoration: none;
$tm-letter-spacing-m: 1px;
$tm-letter-spacing-l: 2px;

$base-body-font-family: 'Montserrat', sans-serif; //'Lora', serif;
$base-heading-font-family: 'Montserrat', sans-serif;
$navbar-nav-item-font-family: 'Montserrat', sans-serif;
$logo-font-family: 'Montserrat', sans-serif;


$base-heading-font-weight: 600;
$base-heading-color: $global-secondary-background;
$heading-hero-font-size:                         4rem;
$heading-hero-font-size-s:                       6rem;
$heading-hero-font-size-m:                       10rem;

$global-control-large-height: 64px;

//$heading-hero-line-height:                       1.1;
//$heading-hero-line-height-s:                     1;
//$heading-hero-line-height-m:                     0.88;

//$base-h1-font-size: 8rem; // h1
$base-h2-font-size: 3.6rem; // h2
//$base-h3-font-size: 3rem; // h3
//$base-h4-font-size: 2.6rem; // h4
//$base-h5-font-size: 2.1rem;
$base-blockquote-font-size: 1.7rem;
//$base-body-color: #000;
//$card-title-font-size: 2rem;
//$base-h1-font-size: $global-xxlarge-font-size !default;
//$base-h1-line-height: 1.2 !default;
//$global-xlarge-font-size: 2rem !default;
//$base-h2-font-size: $global-xlarge-font-size !default;
//$base-h2-line-height: 1.3 !default;
//$text-large-font-size: 1.4rem;
//$base-h3-font-size: $global-large-font-size !default;
//$base-h3-line-height: 1.4 !default;
//$base-h4-font-size: $base-h4-font-size !default;
//$base-h4-line-height: 1.4 !default;
//$base-h5-font-size: $global-font-size !default;
//$base-h5-line-height: 1.4 !default;
//$base-h6-font-size: $global-small-font-size !default;
//$base-h6-line-height: 1.4 !default;

// Article
// $article-margin-top: $global-large-margin !default;
// $global-xxlarge-font-size: 2.625rem !default;
//$article-title-font-size: ;
$article-title-line-height: 1.1;
// $global-small-font-size: 0.875rem !default;
// $article-meta-font-size: $global-small-font-size !default;
// $article-meta-line-height: 1.4 !default;
// $global-muted-color: #999 !default;
// $article-meta-color: $global-muted-color !default;

//$global-large-gutter: 90px;
//$navbar-nav-item-height: 100px;
$inverse-navbar-nav-item-color: rgba(255, 255, 255, 1);
$inverse-text-muted-color: $inverse-global-muted-color;
//$inverse-global-muted-color:                     rgba($global-inverse-color, 0.9);
/*
$text-muted-color:                               $global-muted-color !default;
$text-primary-color:                             $global-primary-background !default;
$text-success-color:                             $global-success-background !default;
$text-warning-color:                             $global-warning-background !default;
$text-danger-color:
*/
// 2. Import default variables and available mixins.
@import "uikit/variables-theme";
@import "uikit/mixins-theme";


// 3. Your custom mixin overwrites.

// Headings
// ========================================================================

@mixin hook-base-heading(){
    letter-spacing: $tm-letter-spacing-m;
}

@mixin hook-base-h1(){

}

@mixin hook-base-h2(){

}

@mixin hook-base-h3(){

}

// @mixin hook-base-h4(){}

// @mixin hook-base-h5(){}

// @mixin hook-base-h6(){}


@mixin hook-button-large(){
    letter-spacing: $tm-letter-spacing-m;
    font-size: 1.3rem;
    //line-height: 64px;
    //font-weight: 500;
    //border-radius: 50px;
}
@mixin hook-text-lead(){
    //letter-spacing: $tm-letter-spacing-m;
}

@mixin hook-card(){
    //letter-spacing: $tm-letter-spacing-m;
    border-radius: 6px;
}
$card-default-color: $global-emphasis-color;
$form-background: rgba(255, 255, 255, 0.5);
// 4. Import UIkit.
@import "uikit/uikit-theme";

@import "instashow";
@import "syntax-highlighting";

.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
main {
    margin-top: -$navbar-nav-item-height;
}
.uk-background-blend-overlay {
    background-color: rgba(2, 2, 2, 0.6);
}
.tm-hero-subtitle {
    font-size: 2.2rem;
    font-weight: 300;
    //color: rgba(255,255,255,0.8) !important;
}
.uk-logo {
    //font-weight: 500;
    //font-size: 28px;
    letter-spacing: $tm-letter-spacing-l;
    color: $global-primary-background !important;
}
.uk-navbar-container.uk-section-secondary {
    background-color: $global-secondary-background;
}
.uk-navbar-nav li a, .uk-navbar-item a {
    letter-spacing: $tm-letter-spacing-l;
    font-weight: 500;
}
.uk-navbar-item .tm-button-primary {
    color: #fff !important;
    background-color: $global-primary-background;
    border-radius: 20px;
    &:hover {
        background-color: darken($global-primary-background, 10%);
    }
}
.tm-letter-spacing-l {
    letter-spacing: $tm-letter-spacing-l;
}
.tm-border-rounded {
    border-radius: 50px;
}
.tm-contact {
    h3 {
        font-size: 2.2rem;
    }
    textarea {
        height: 150px;
        border-radius: 20px;
    }
    label {
        font-size: 1.4rem;
        //text-align: left;
    }
}
.vcard {
    .tel, .email {
        &:hover {
            text-decoration: none;
            color: $global-secondary-background;
        }
    }
    .tm-tel, .tm-email {
        color: $global-secondary-background;
    }
    .tm-tel {
        font-size: 2.2rem;
        font-weight: $base-heading-font-weight;
    }
    .tm-email {
        font-size: 1.8rem;
    }
}

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {
    h2, .uk-h2 {
        font-size: 4.6rem;
    }
    h3, .uk-h3 {
        //font-size: 1rem;
    }
    .vcard .tm-tel {
        font-size: 3rem;
    }
}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {
    h2, .uk-h2 {
        font-size: 6.6rem;
    }
    h3, .uk-h3 {
        //font-size: 1rem;
    }
}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {



}



/*



.tm-text-xlarge {
    font-family: $base-heading-font-family;
    font-size: $base-h5-font-size;
    font-weight: 700;
    letter-spacing: -1px;
    color: $global-inverse-color;
    p {
        margin-bottom: $global-medium-margin;
    }

}
@media (min-width: $breakpoint-small) {
    .tm-text-xlarge {
        font-size: $base-h4-font-size;
    }
}
.tm-heading-hero-l {
    margin-left: -0.9rem;
    span {
        display: block;
    }
}
.tm-section-about {
    a {
        color: $global-link-color!important;
        &:hover {
            color: $global-link-color;
        }
    }
    h2 {
        //font-size: $global-xxlarge-font-size;
    }
}
.tm-author-img {
    background-position: 100% 93%;
}
footer {
    .tm-social-links {
        h3 {
            //font-size: 2.2rem;
        }
    }
}
.uk-article {
    font-size: $text-large-font-size;
    line-height: 1.7;
    h1, h2 {
        font-weight: 800;
    }
    h2 {
        font-size: $base-h3-font-size;
    }
    .uk-article-title a:hover {
        color: $global-secondary-background;
        text-decoration: none;
    }
    img {
        margin-top: $margin-medium-margin;
        margin-bottom: $margin-medium-margin;
    }
}
@media (min-width: $breakpoint-medium) {
    .uk-article h1.uk-article-title {
        font-size: 6.6rem;
        margin-bottom: $margin-xlarge-margin;
    }
    .uk-article h2.uk-article-title {
        font-size: 3.8rem;
    }
}
.tm-author-box {
    line-height: 1.8;
}
*/
