---
layout: default
---

<div class="uk-section uk-section-xlarge uk-background-blend-overlay uk-background-secondary uk-light uk-background-cover uk-background-center-center" style="background-image: url(../assets/img/hero.jpg);">
    <div class="uk-container uk-container-small uk-text-center">
        <div>
            {% if page.subtitle %}<h3 class="uk-text-uppercase uk-text-muted tm-hero-subtitle">{{ page.subtitle | escape }}</h3>{% endif %}
            <h1 class="uk-heading-hero uk-margin-xlarge-bottom-">{{ page.title | escape }}</h1>
        </div>
    </div>
</div>

<div id="services" class="uk-section uk-section-large uk-background-muted">
    <div class="uk-container uk-container-small uk-text-center">
        <h2 class="uk-margin-small-bottom">Services</h2>
        <p class="uk-text-lead uk-text-uppercase uk-margin-large-bottom">Sabeen works with each client to bring out their beauty!</p>

        <div class="uk-child-width-1-3@m uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-small uk-card-secondary uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
                    <h3 class="uk-card-title uk-text-middle">Eyebrow Threading</h3>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-small uk-card-secondary uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
                    <h3 class="uk-card-title uk-text-middle">Waxing</h3>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-small uk-card-secondary uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
                    <h3 class="uk-card-title uk-text-middle">Hair Coloring</h3>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-small uk-card-secondary uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
                    <h3 class="uk-card-title uk-text-middle">Eyebrow Threading</h3>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-small uk-card-secondary uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
                    <h3 class="uk-card-title uk-text-middle">Waxing</h3>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-small uk-card-secondary uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
                    <h3 class="uk-card-title uk-text-middle">Hair Coloring</h3>
                </div>
            </div>

        </div>

        <a href="#contact" class="uk-button uk-button-primary uk-button-large uk-margin-large-top tm-border-rounded" uk-scroll="duration: 500">Book Now!</a>
        <span id="gallery"></span>
    </div>
</div>

{% include instashow.html %}

{% include contact.html %}
