---
layout: default
---

<div class="uk-section uk-section-secondary">
    <div class="uk-container">

        <div class="uk-grid-large uk-flex-middle" uk-grid>
            <div class="uk-width-expand@m">
                <h1 class="uk-heading-hero tm-heading-hero-l">{{ page.title | escape }}</h1>
            </div>
            <div class="uk-width-auto@m">
                <div class="uk-light tm-text-xlarge">{{ content }}</div>
            </div>
        </div>

    </div>
</div>

{% include contact.html %}
